.page {
	max-width: 420px;
    margin-left: auto;
    margin-right: auto;		
	position: relative;
	width: 100%;
}

.page:before{
	content: "";
	display: block;
	padding-top: 150%; 	/* ratio of 1:1.5*/
}

.content1015 {
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


.content {
	padding-top:1%;
    width: 90%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

label#status {
	width:100%;
}

.row {
	display: flex;
    margin-right: auto;
    margin-left: auto;
}

.cell {
    display: block;
	position: relative;
	width: 30%;
    margin-right: auto;
    margin-left: auto;
	font-size: 2em;
}

.cell:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* ratio of 1:1*/
}

.cellsquare {
	position:  absolute;
	padding:4%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.cellsquare .btn {
	border-radius: 100%;
    width: 100%;
    height: 100%;
    cursor: pointer;
	font-size: 1em;
}

.cellsquare .btn-default {
	font-size: 2em;
}

#bUp {
	border: 0px;
	background-image: url(/images/arrow-light-round-up-circle.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#bDown {
	border: 0px;
	background-image: url(/images/arrow-light-round-down-circle.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#bDown {
	border: 0px;
	background-image: url(/images/arrow-light-round-down-circle.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#bLock {
	border: 0px;
	background-image: url(/images/lock.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#bUnlock {
	border: 0px;
	background-image: url(/images/unlock.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#bSettings {
	border: 0px;
	background-image: url(/images/settings.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

#bRoomAdd {
	padding:0px 6px 0px 6px
}

button#bSettings {
	font-size:0.8em;
}

.input-group {
	width: 100%;
}

span.input-group-addon-size {
	width: 30%;
}

.Gray {
	background-color: #F9F9F9;
}

input.form-control {
	font-weight:bold;
}